.error {
    text-align: center;
  }
  
  footer {
    text-align: center;
    background-color: #2E4F4F;
    padding: 10px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }